<ion-content scrollY="false">
  <div
    class="editor-container"
    [class.is-horizontal]="currentOrientation === 'horizontal'"
  >
    <div class="editor-toolbar">
      <div class="tool-group">
        <img class="logo" src="assets/logo.jpeg" alt="Logo" />

        <ion-button
          class="btn-tool"
          fill="clear"
          color="dark"
          id="click-trigger"
        >
          Archivo <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-button>

        <ion-popover
          trigger="click-trigger"
          triggerAction="click"
          dismissOnSelect="true"
        >
          <ng-template>
            <ion-content>
              <ion-list lines="none">
                <ion-item button (click)="open()">
                  <ion-icon name="folder-open-outline" slot="start"></ion-icon>
                  <ion-label>Abrir</ion-label>
                </ion-item>
                <ion-item button (click)="save()">
                  <ion-icon
                    name="save-outline"
                    slot="start"
                    color="primary"
                  ></ion-icon>
                  <ion-label>Guardar</ion-label>
                </ion-item>
                <!-- <ion-item button (click)="saveAs()">
                  <ion-icon
                    name="copy-outline"
                    slot="start"
                    color="secondary"
                  ></ion-icon>
                  <ion-label>Guardar como</ion-label>
                </ion-item> -->
                <ion-item button (click)="presentExportMenu()">
                  <ion-icon name="download-outline" slot="start"></ion-icon>
                  <ion-label>Exportar</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>

      <div class="tool-group">
        <ion-button
          class="btn-tool"
          fill="outline"
          color="dark"
          (click)="addText()"
          >Texto</ion-button
        >
        <ion-button
          class="btn-tool"
          fill="outline"
          color="dark"
          (click)="addImage()"
          >Imagen</ion-button
        >
        <div class="color-wrapper">
          <input
            type="color"
            (change)="changeBackground($event)"
            value="#ffffff"
          />
          <span>Fondo</span>
        </div>
        <ion-item  (click)="fitCanvasToScreen()">
          <ion-icon name="contract-outline"></ion-icon>
        </ion-item>
      </div>
    </div>

    <div class="editor-toolbar" *ngIf="selectedObjectType">
      <div class="tool-group" *ngIf="selectedObjectType === 'textbox'">
        <ion-select
          class="compact-select"
          interface="popover"
          placeholder="Fuente"
          (ionChange)="changeFont($event)"
          [(ngModel)]="currentFontFamily"
        >
          <ion-select-option value="Arial">Arial</ion-select-option>
          <ion-select-option value="Georgia">Georgia</ion-select-option>
          <ion-select-option value="Times New Roman">Times</ion-select-option>
          <ion-select-option value="Courier New">Courier</ion-select-option>
          <ion-select-option value="Montserrat">Montserrat</ion-select-option>
        </ion-select>

        <ion-select
          class="compact-select"
          interface="popover"
          placeholder="px"
          (ionChange)="changeFontSize($event)"
          [(ngModel)]="currentFontSize"
        >
          <ion-select-option
            *ngFor="let size of [6,8,10,12,14,16,18,24,32,48,64,80]"
            [value]="size"
            >{{size}}px</ion-select-option
          >
        </ion-select>

        <div class="color-wrapper">
          <input
            type="color"
            [(ngModel)]="currentFillColor"
            (input)="changeColor($event)"
          />
          <span>Color</span>
        </div>
      </div>

      <div class="tool-group" *ngIf="selectedObjectType">
        <ion-button
          class="btn-tool"
          fill="clear"
          color="dark"
          (click)="duplicate()"
          >Duplicar</ion-button
        >
        <ion-button
          class="btn-tool"
          fill="clear"
          color="warning"
          (click)="toggleLock()"
        >
          <ion-icon
            [name]="lockButtonText === 'Bloquear' ? 'lock-open-outline' : 'lock-closed-outline'"
            slot="start"
          ></ion-icon>
        </ion-button>
        <ion-button
          class="btn-tool"
          fill="clear"
          color="danger"
          (click)="delete()"
        >
          <ion-icon name="trash-outline" slot="start"></ion-icon>
        </ion-button>
      </div>

      <div class="tool-group layers-controls" *ngIf="selectedObjectType">
        <ion-button fill="clear" color="primary" (click)="bringForward()"
          ><ion-icon name="chevron-up-circle-outline"></ion-icon
        ></ion-button>
        <ion-button fill="clear" color="primary" (click)="sendBackwards()"
          ><ion-icon name="chevron-down-circle-outline"></ion-icon
        ></ion-button>
        <ion-button fill="clear" color="secondary" (click)="bringToFront()"
          ><ion-icon name="arrow-up-outline"></ion-icon
        ></ion-button>
        <ion-button fill="clear" color="secondary" (click)="sendToBack()"
          ><ion-icon name="arrow-down-outline"></ion-icon
        ></ion-button>
      </div>
    </div>

    <div class="canvas-area">
      <div class="canvas-wrapper">
        <canvas id="canvas"></canvas>
      </div>
    </div>
  </div>
</ion-content>
